:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --button-primary-color: #8f0101;
  --button-secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/*CSS RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--titles-weight);
  color: var(--text-primary-color);
}
