header {
  background-color: var(--background-tertiary-color);
  width: 100%;
  height: 138px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3px 48px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
  margin: 37px 0 37px 48px;
}


.navigation-menu {
  height: 135px;
  display: flex;
  align-items: center;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}

nav {
  display: none;
}