header {
  background-color: var(--background-tertiary-color);
  width: 100%;
  height: 138px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
  margin: 37px 0 37px 48px;
}


.navigation-menu {
  height: 135px;
  display: flex;
  align-items: center;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;

}

ul {
  padding: 32px;
}

.list-links li {
  list-style: none;
}
a {
  color: var(--text-secondary-color);
  text-emphasis: none;
  text-decoration: none;
}
